# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/

# mstest test results
TestResults

# User-specific files
*.suo
*.user
*.sln.docstates

# NuGet Packages Directory
packages


/.nuget/NuGet.exe
/AssemblyVersioning/_nugetPackaging/output/*.nupkg
/UnitTests/FakesAssemblies
/.vs
/AssemblyVersioning/Properties/AssemblyInformationalVersion.gen.cs
